<div class="row">
  <div class="span12">
    <ul class="breadcrumb">
      <li>
        <a href="<%=arrangements_path%>">Home</a> <span class="divider">/</span>
      </li>
      <li>
        <a href="<%=arrangement_path(@arrangement)%>"><%= @arrangement.name %></a> <span class="divider">/</span>
      </li>
      <li class="active"><%= @participant.name %></li>
    </ul>
  </div>
</div>
<%= render "shared/notifications" %>
<div class="row">
  <div class="span4">
    <div class="well">
      <h2><%= @participant.name =%></h2>
      <dl class="dl-horizontal">
        <dt>Total expenses:</dt>
        <dd><%= @participant.total_expenses %></dd>
        <dt>Balance:</dt>
        <dd><%= @participant.balance %></dd>
      </dl>
    </div>
    <div class="well">
      <h2>Help</h2>
      Lorem Ipsum is simply dummy text of the printing and typesetting
      industry. Lorem Ipsum has been the industry's standard dummy
      text ever since the 1500s, when an unknown printer took a galley
      of type and scrambled it to make a type specimen book.
    </div> 
  </div><!--/span-->
  <div class="span8 expenses">
    <% if not @participant.expenses.empty? %>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Amount</th>
          <th class="collapsed"><i class="icon-cog"></i></th>
        </tr>
      </thead>
      <tbody>
        <% @participant.expenses.each do |e| %>
        <tr>
          <td><%= e.name %></td>
          <td>
            <%= e.amount %>
          </td>
          <td>
            <%= link_to(arrangement_participant_expense_path(@arrangement, @participant, e),
                :confirm => 'Are you sure?', :method => :delete) do %>
            <i class="icon-trash"></i>
            <% end %> 
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <% else %>
    <div class="alert alert-info">
      <h3>This participant has no expenses</h3>
      You can add new expenses using the form below. Just enter the name and cost of the expense and click add.
    </div>
    <% end %>
    <%= form_for([@arrangement, @participant, @expense], :html => {:class => "well form-inline"}) do |f| %>
    <h6>Add Expense</h6>
        <%= f.text_field :name, :placeholder => "Expense name", :class => "input-medium" %>
        <%= f.text_field :amount, :placeholder => "Amount", :class => "input-small" %>
        <button type="submit" class="btn btn-primary"><i class="icon-plus"></i> Add</button>
    <% end %>
  </div><!--/span-->
</div><!--/row-->
